@import url('https://fonts.googleapis.com/css2?family=Inter&family=Merriweather:ital,wght@1,300&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rhodium+Libre&display=swap');

/* RESET CSS */
* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    list-style: none;
}

a {
    text-decoration: none;
}

/* Estilos generales */
body {
    background-color: white;
    color: black;
}

.dark-mode {
    background-color: #03121d;
    color: wheat;
}


/* Estilos adicionales si es necesario */
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.home a {
    margin-left: 13px;
    color: wheat;
    font-size: 25px;
}

#btn-hamburger {
    margin-left: 30px;
    margin-top: 3px;
    background-color: transparent;
    border: none;
    transition: 0.25s;
}

#btn-hamburger i {
    font-size: 40px;
}

.bi-list:hover {
    transition: 1s;
    color: rgb(233, 220, 220);
}

.rotate {
    transform: rotate(90deg);
}

.undeploy {
    max-height: 0;
    overflow: hidden;
    transition: all 0.4s;
}

.deploy {
    transition: all 0.4s;
    display: block;
    max-height: 200px;
    width: 100%;
    overflow: hidden;
}

.work-request {
    display: none;
}

.work-request:hover {
    color: rgb(243, 205, 135);
}

/* FIRST SECTION */
.container-header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    margin-top: 12px;
    background-color: #03121d;
    color: white;
}

.header-title {
    font-size: 2rem;
}

.header-title span {
    margin-left: 50px;
}

.header-title .highlight {
    color: wheat;
}

.profile {
    height: 100vh;
}

.profile-highlights {
    display: none;
    z-index: -1;
}

.profile-information {
    margin-top: 40px;
    height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#profImg {
    width: 300px;
    border-radius: 50%;
    margin-top: 13px;
    border: 1px solid white;
    box-shadow: -30px -20px 20px #5aa0e252, 0px 40px 20px #0697aa34, 30px -20px 20px #f8b1953d;
}

.header-intro {
    margin-top: 16px;
    text-align: center;
    line-height: 1.6;
    font-family: 'Roboto', sans-serif;
}

/* MAIN */
/* Education */
.educationContainer {
    display: flex;
    margin: 10px;
    flex-wrap: wrap;
}

.education-years {
    color: wheat;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
}

.containerPath {
    border: 0.2px solid wheat;
    border-radius: 30px;
    padding: 10px;
    margin: 8px;
    display: flex;
    align-items: center;
    text-align: center;
    max-width: 500px;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    flex-wrap: wrap;
}

.containerPath div {
    border-right: 1px solid wheat;
    width: 350px;
}

.institution {
    padding: 10px;
    text-align: center;
    font-weight: 1000;
}

.cv {
    font-size: 2rem;
    background: linear-gradient(90deg, #20bcff8b, #a5fecca2);
    box-shadow: rgba(4, 6, 7, 0.782) 0px 3px 8px;
    color: rgb(25, 65, 85);
    padding: 12px;
    border-radius: 30px;
    margin-left: 5px;
    border: none;
    font-weight: bolder !important;
    font-family: 'Roboto', sans-serif;
    transition: 1s;
}

.flags {
    width: 40px;
    margin-bottom: 3px;
}

.languages {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.languagesIcon-container {
    display: flex;
    max-width: 300px;
    max-height: 500px;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.languagesIcon {
    width: 50px;
}

.languagesIcon-container div {
    width: 60px;
}

.languagesIcon-container div span {
    color: white;
    font-size: small;
}

/* Variables de colores */
:root {
    --light-color: #ffffff;
    --dark-color: #333333;
}

/* Estilos para la sección de tecnologías */
#technologies .section-title {
    font-size: 2.5rem;
    margin-bottom: 2rem;
    color: var(--primary-color);
}

#technologies .tech-item {
    margin-top: 2rem;
    transition: transform 0.3s, box-shadow 0.3s;
}

#technologies .tech-item i {
    margin-bottom: 1rem;
    transition: color 0.3s;
}

#technologies .tech-item p {
    margin-top: 0.5rem;
    font-size: 1.1rem;
    color: var(--dark-color);
}

#technologies .tech-item:hover {
    transform: translateY(-10px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#technologies .tech-item:hover i {
    color: var(--primary-color);
}

.fa-html5 {
    color: #e34c26;
}

.fa-css3-alt {
    color: #1572b6;
}

.fa-js {
    color: #f7df1e;
}

.fa-react {
    color: #61dafb;
}

.fa-node-js {
    color: #68a063;
}

.fa-sass {
    color: #cc6699;
}

.fa-bootstrap {
    color: #7952b3;
}

.fa-git-alt {
    color: #f05032;
}

.service-pic {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 120vh;
    min-height: 800px;
    z-index: -10;
    background-image: linear-gradient(180deg, #053a5d 0%, #082b42 31%, #03121d 100%);
}

.service-pic h3 {
    font-size: 3.5vh;
    padding: 10px;
    text-align: center;
    color: white;
}

.service-pic h3 span {
    background: linear-gradient(90deg, #feac5e, #c779d0, #4bc0c8);
    background-size: 400% 400%;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradient 9s ease infinite;
}

.service-pic h6 {
    color: rgb(170, 170, 170);
    font-size: 1.2rem;
    padding: 10px;
    font-weight: 700;
    text-align: center;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

#avatarComputer {
    width: 25vh;
}

.about-me {
    background-color: #121212;
    color: white;
    padding: 30px;
    margin-top: 50px;
    text-align: center;
    border-radius: 10px;
    border: 0.1px solid #ffffff6b;
    box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.about-me p {
    line-height: 1.5;
}

/* FOOTER */
footer {
    background-color: #333333;
    color: white;
    display: flex;
    justify-content: center;
    padding: 20px;
    margin-top: 20px;
}

footer p {
    font-size: 0.8rem;
}

footer p a {
    color: rgb(177, 167, 167);
    transition: 0.3s;
}

footer p a:hover {
    color: white;
}


/* Variables de tema en el :root */
:root {
    --modo-claro-bg-start: #f8f9fa;
    --modo-claro-bg-end: #e9ecef;
    --modo-claro-card-bg: #ffffff;
    --link-color-claro: #5a5a5a;
    --link-hover-color-claro: #000000;

    --modo-oscuro-bg-start: #1c1e21;
    --modo-oscuro-bg-end: #343a40;
    --modo-oscuro-card-bg: #2a2e35;
    --link-color-oscuro: #cccccc;
    --link-hover-color-oscuro: #ffffff;

    --card-border-color: #100f0f;
    --card-shadow-color: rgba(0, 0, 0, 0.1);
    --card-hover-shadow-color: rgba(0, 0, 0, 0.2);
    --primary-color: #868e96;
    --secondary-color: #868e96;
    --btn-hover-bg-primary: #5a6268;
    --btn-hover-bg-secondary: #5a6268;
}

/* Variables específicas para los temas */
[data-theme="dark"] {
    --link-color: var(--link-color-oscuro);
    --link-hover-color: var(--link-hover-color-oscuro);
    --card-bg: linear-gradient(to bottom right, var(--modo-oscuro-bg-start), var(--modo-oscuro-bg-end));
    --card-inner-bg: var(--modo-oscuro-card-bg);
}

[data-theme="light"] {
    --link-color: var(--link-color-claro);
    --link-hover-color: var(--link-hover-color-claro);
    --card-bg: linear-gradient(to bottom right, var(--modo-claro-bg-start), var(--modo-claro-bg-end));
    --card-inner-bg: var(--modo-claro-card-bg);
}

.card a {
    color: var(--link-color);
    transition: color 0.3s;
}

.card a:hover {
    color: var(--link-hover-color);
}

.card {
    width: auto;
    background: var(--card-bg);
    border: 1px solid var(--card-border-color);
    border-radius: 10px;
    box-shadow: 0 4px 6px var(--card-shadow-color);
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 12px var(--card-hover-shadow-color);
}

.card img {
    border-bottom: 1px solid #eee;
}

.card-title {
    font-size: 1.5rem;
    font-family: 'Merriweather', serif;
    color: var(--primary-color);
}

.card-body {
    padding: 20px;
}

.btn-primary {
    background-color: var(--primary-color);
    border: none;
    transition: background-color 0.3s;
}

.btn-primary:hover {
    background-color: var(--btn-hover-bg-primary);
}

.btn-secondary {
    background-color: var(--secondary-color);
    border: none;
    transition: background-color 0.3s;
}

.btn-secondary:hover {
    background-color: var(--btn-hover-bg-secondary);
}

.text-center {
    text-align: center;
}

/* Estilos para la sección de educación */
#education {
    background-color: var(--modo-claro-bg-start);
    background-image: var(--card-bg);
    padding: 3rem 0;
    transition: background-color 0.3s, background-image 0.3s;
}

#education h2 {
    font-size: 2.5rem;
    font-family: 'Merriweather', serif;
    color: var(--primary-color);
    margin-bottom: 2rem;
}

#education .row {
    display: flex;
    justify-content: space-around;
}

#education .col-md-4 {
    background: var(--card-inner-bg);
    color: var(--link-color);
    padding: 1.5rem;
    border: 1px solid var(--card-border-color);
    border-radius: 10px;
    box-shadow: 0 4px 6px var(--card-shadow-color);
    transition: transform 0.3s, box-shadow 0.3s;
    margin-bottom: 1.5rem;
    text-align: center;
}

#education .col-md-4:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 12px var(--card-hover-shadow-color);
}

#education h5 {
    font-size: 1.5rem;
    color: var(--primary-color);
    margin-bottom: 0.5rem;
}

#education .text-muted {
    font-size: 0.9rem;
    color: #6c757d;
}

#education p {
    font-size: 1rem;
    color: var(--secondary-color);
}
/* Estilos para la sección de habilidades blandas */
#soft-skills {
    background-color: var(--modo-claro-bg-start);
    padding: 3rem 0;
    transition: background-color 0.3s;
}

#soft-skills h2 {
    font-size: 2.5rem;
    font-family: 'Merriweather', serif;
    color: var(--primary-color);
    margin-bottom: 2rem;
}

#soft-skills .row {
    display: flex;
    flex-wrap: wrap;
}

#soft-skills .col-md-6 {
    background: var(--card-inner-bg);
    color: var(--link-color);
    padding: 1.5rem;
    border: 1px solid var(--card-border-color);
    border-radius: 10px;
    box-shadow: 0 4px 6px var(--card-shadow-color);
    transition: transform 0.3s, box-shadow 0.3s;
    margin-bottom: 1.5rem;
    text-align: center;
}

#soft-skills .col-md-6:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 12px var(--card-hover-shadow-color);
}

#soft-skills h4 {
    font-size: 1.5rem;
    color: var(--primary-color);
    margin-bottom: 0.5rem;
}

#soft-skills p {
    font-size: 1rem;
    color: var(--secondary-color);
}

/* Estilos específicos para el modo oscuro */
[data-theme="dark"] #soft-skills {
    background-color: var(--modo-oscuro-bg-start);
    transition: background-color 0.3s;
}

[data-theme="dark"] #soft-skills .col-md-6 {
    background: var(--modo-oscuro-card-bg);
}
